<div class="container">
  <h1>Create a new booking</h1>
  <%= simple_form_for @booking do |f| %>
    <%= f.input :task, placeholder: "Enter your task"%>
    <%= f.input :date_available_from, as: :date, placeholder: "You need Mr Meeseeks from"%>
    <%= f.input :data_available_to, as: :date, placeholder: "You need Mr Meeseeks until"%>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>
