<h1>Discover Meeseeks in your area</h1>
<br>
<div class="container-body">
   <div class="album">
      <div class="container">
         <div class="row">
            <% @meeseeks.each do |meeseek| %>
            <div class="col-12 col-md-6 col-lg-3">
               <div class="card">
                  <h2><%= meeseek.id %></h2>
                  <%= image_tag meeseek.image %>
                  <%= link_to meeseek.postcode, meeseek_path(meeseek) %>
               </div>
              </div>
            <% end %>
         </div>
         <div class="row">
         <div class="map" style="width: 100%; height: 600px;"
                data-controller="map"
                data-map-markers-value="<%= @markers.to_json %>"
                data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
            </div>
         </div>
      </div>
   </div>
</div>
