
<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="search-field p-3">
        <h3 class="pb-2">Search by postcode</h3>
        <%= form_tag meeseeks_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "enter postcode" %>
        <%= submit_tag "Search", class: "button-primary px-5 mx-4" %>
        <% end %>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <div class="cards">
          <% @meeseeks.each do |meeseek| %>
            <%= link_to meeseek_path(meeseek) do %>
                <div class="card">
                  <div class="card-img-top meeseek-card" style="background-image:url(<%= asset_path meeseek.image %>)">
                  </div>
                  <div class="card-body d-flex justify-content-around p-1">
                      <div class="card-title text-start">
                        <p>Mr Meeseek #<%= meeseek.id %></p>
                      </div>
                      <div class="card-postcode text-end">
                        <p><%= meeseek.postcode %></p>
                      </div>
                  </div>
                </div>
            <% end %>
          <% end %>
        </div>
    </div>
    <div class="col-4">
      <div class="map" style="width: 100%; height: 600px;"
                data-controller="map"
                data-map-markers-value="<%= @markers.to_json %>"
                data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
            </div>
  </div>>
  </div>
</div>
