<div class="container">
  <div class="my_bookings row">
    <div class="profile_pic col-md-5 col-sm-12 mt-3">
        <%= image_tag 'mr-meeseeks.png', class: 'meeseeker-my-bookings'%>

    </div>
    <div class="bookings col-md-7 col-sm-12">
      <h2>My bookings</h2>
        <h3><%= current_user.email %></h3>
        <ul>
          <% @my_bookings.each do |booking|%>
            <div class="my-booking-card flex-container mt-5 p-3">
              <div class="flex-item">
                <li>
                  <h4><span style="font-weight:600;">Booking Task: </span><%= booking.task %></h4>
                  <h4><span style="font-weight:600;">Meeseek:  </span><%= booking.meeseek_id %></h4>
                  <h4><span style="font-weight:600;">From:  </span><%= booking.date_available_from %> To: <%= booking.date_available_to %></h4>
                </li>
              </div>
              <div class="flex-item">
                <%= link_to edit_meeseek_booking_path(booking.meeseek_id, booking.id) do %>
                <i class="fa-solid fa-pen-to-square" style="color:#A3B081;"></i>
                <% end %>
                <i class="fa-solid fa-ban" style="color:#A3B081" class="mt-5"></i>
              </div>
            </div>
          <% end %>
        </ul>
    </div>
  </div>
</div>
