<div class="container">

      <p><%= link_to "< Back to Meeseeks", meeseeks_path, class: "link" %></p>
  <div class= "row">
    <div class="col-md-6 col-sm-12 meeseek-details text-center link">
      <%= cl_image_tag (@meeseek.photo.key)%>
      <%# <%= button_to "Destroy this Meeseek", @meeseek, method: :delete %>
      <%# <%= link_to "Edit this Meeseek", edit_meeseek_path(@meeseek) %>

      <p style="margin-left:10%; width: 80%;">Hi, I'm Mr Meeseeks, look at me! We are created to serve a singular purpose for which we will go to any lengths to fufill! Existence is pain to a Meeseeks,  so please keep your tasks simple.</p>
    </div>

    <div class="col-md-6 col-sm-12" data-controller="calendar">
      <div class="meeseek-summary">
        <h1>Mr Meeseeks #<%= @meeseek.id %></h1>
        <p>Postcode: <%= @meeseek.postcode %></p>
        <p>Owner contact: <%= @meeseek.user.email %></p>
                  <button type="button"
                data-action="click->calendar#display"
                data-calendar-target="button"
                class="button-primary">View availability</button>
        <%= render "shared/calendar" %>
      </div>
      <div class="book-meeseek">
        <h1>Book a meeseek</h1>
        <% if user_signed_in? %>
          <%= simple_form_for ([@meeseek, @booking]) do |f| %>
            <%= f.input :task, placeholder: "Enter your task"%>
            <%= f.date_field :date_available_from, as: :date, placeholder: "You need Mr Meeseeks from"%>
            <%= f.date_field :date_available_to, as: :date, placeholder: "You need Mr Meeseeks until"%>
            <%= f.submit class: "button-primary mt-3" %>
          <% end %>
        <% else %>
        <%= simple_form_for ([@meeseek, @booking]) do |f| %>
            <%= f.input :task, required: true, placeholder: "Enter your task"%>
            <%= f.date_field :date_available_from, as: :date, placeholder: "You need Mr Meeseeks from"%>
            <%= f.date_field :date_available_to, as: :date, placeholder: "You need Mr Meeseeks until"%>
            <%= link_to 'Login', new_user_session_path, class: "button-primary mt-3" %>
          <% end %>
        <% end %>
      </div>
<%# # start odf the codefor the reviews
      <h2><%= pluralize @meeseeks.reviews.size, "review" %></h2>

      <%# <div data-controller="insert-in-list">
      <div data-insert-in-list-target="items"> %>
<%# <% if@meeseeks.reviews.blamnk?%>
<%# HHow waw"How was your experience with this Meeseek?"
else<%%>
<%# <% @meeseek.eachreviews.each do|review"||"""%>
<%# <p><%re= review.comntent%> <%#</p> %>


      <%# </div>
      a-insert-in-list-target="form"
      <%= simple_form_for([@meeseek, @review],data:{in
sert_in_list_target: "form"}) do|F|%>,
        <%# action: "submit->insert-in-list#send" %> %>

<%# <%=f.input :content%>
<%# <%=%>f.button :submit %> %>
      <%# <% end %>
    <%# </div> %> %> %>

    </div>

  </div>

  <div class="row">
    <div class="col-md-6 col-sm-12">
      <p><%= link_to "< Back to Meeseeks", meeseeks_path %></p>
          <%# <%= button_to "Destroy this Meeseek", @meeseek, method: :delete %>
    </div>
    <div class="col-md-6">

    </div>
  </div>
</div>
