<div class="container">

      <p><%= link_to "< Back to Meeseeks", meeseeks_path, class: "link" %></p>
  <div class= "row">
    <div class="col-md-6 col-sm-12 meeseek-details text-center link">
      <%= image_tag (@meeseek.image)%>
      <%# <%= button_to "Destroy this Meeseek", @meeseek, method: :delete %>
      <%# <%= link_to "Edit this Meeseek", edit_meeseek_path(@meeseek) %>
      <p>Hi, I’m Mr Meeseeks, look at me! We are created to serve a singular purpose for which we will go to any lengths to fufill! Existence is pain to a Meeseeks,  so please keep your tasks simple.</p>
    </div>

    <div class="col-md-6 col-sm-12 background-blue">
      <div class="meeseek-summary">
        <h1>Mr Meeseeks #<%= @meeseek.id %></h1>
        <p>Postcode: <%= @meeseek.postcode %></p>
        <p>Owner contact: <%= @meeseek.user.email %></p>
      </div>
      <div class="book-meeseek">
        <h1>Book a meeseek</h1>
        <p>Next Available Date: <%= @meeseek.available_dates.first %></p>
        <% if user_signed_in? %>
          <%= simple_form_for ([@meeseek, @booking]) do |f| %>
            <%= f.input :task, placeholder: "Enter your task"%>
            <%= f.date_field :date_available_from, as: :date, placeholder: "You need Mr Meeseeks from"%>
            <%= f.date_field :date_available_to, as: :date, placeholder: "You need Mr Meeseeks until"%>
            <%= f.submit class: "button-book" %>
          <% end %>
        <% else %>
        <%= simple_form_for ([@meeseek, @booking]) do |f| %>
            <%= f.input :task, required: true, placeholder: "Enter your task"%>
            <%= f.date_field :date_available_from, as: :date, placeholder: "You need Mr Meeseeks from"%>
            <%= f.date_field :date_available_to, as: :date, placeholder: "You need Mr Meeseeks until"%>
            <%= link_to 'Login', new_user_session_path, class: "button-book" %>
          <% end %>
        <% end %>
      </div>

    </div>

  </div>

  <div class="row">
    <div class="col-md-6">
      <p><%= link_to "< Back to Meeseeks", meeseeks_path %></p>
          <%# <%= button_to "Destroy this Meeseek", @meeseek, method: :delete %>
    </div>
    <div class="col-md-6">

    </div>
  </div>
</div>
